# D365Extensions build pipeline
variables:
  semver: 2.9.0
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

# Build Number
name: $(semver)$(Rev:.r)

# Should trigger master, PR's or tags
trigger:
  batch: true
  branches:
    include:
    - master
#    - refs/tags/*

pool:
  vmImage: 'windows-latest'

steps:
- task: NuGetToolInstaller@0
  displayName: Use NuGet 6.14.0
  inputs:
    versionSpec: '6.14.0'

- task: NuGetCommand@2
  displayName: NuGet restore
  inputs:
    restoreSolution: '$(solution)'

- task: DownloadSecureFile@1
  displayName: Download secure file
  inputs:
    secureFile: ae991075-eb04-43de-afb0-c180d1f0e314
    retryCount: 5

- task: CopyFiles@2
  displayName: 'Copy FixRM.snk to: D365Extensions/D365Extensions'
  inputs:
    SourceFolder: $(Agent.TempDirectory)
    Contents: FixRM.snk
    TargetFolder: D365Extensions/D365Extensions

- task: CopyFiles@2
  displayName: 'Copy FixRM.snk to: D365Extensions/D365Extensions.Tests'
  inputs:
    SourceFolder: $(Agent.TempDirectory)
    Contents: FixRM.snk
    TargetFolder: D365Extensions/D365Extensions.Tests

- task: VSBuild@1
  displayName: Build solution **\*.sln and create NuGet package
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArgs: '/p:PackageVersion=$(semver) /p:PackageOutputPath=$(Build.ArtifactStagingDirectory)'

- task: VSTest@2
  displayName: VsTest - testAssemblies
  inputs:
    testAssemblyVer2: |
      **\$(BuildConfiguration)\*\*test*.dll
      !**\*TestAdapter.dll
      !**\obj\**
    codeCoverageEnabled: true
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    diagnosticsEnabled: True

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: $(build.artifactstagingdirectory)
    condition: ne(variables['Build.Reason'], 'PullRequest')
